{% extends 'pantry/basic.html' %}
{% block css %}
.card-img-top {
    height:200px;
  }
  h4 {
    margin-left:200px;
  }
  {% endblock %}
{% block body %}

<div class = "container my-4">
<div class="row">
  {% if not list %}
  <h2>No Search Results</h2>
  {% else  %}
    {% for i in list %}
    <div class="col-sm-4">
        
        <div class="card-group" >
        
        <img class="card-img-top" src="/media/{{i.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{i.product_name}}</h5>
            <p class="card-text">Price - ₹ {{i.price}}/kg</p>
      {%if prod_id %}
          <h1>Manihs</h1>
          {% for k in prod_id %}
            {% if k.p_id == i.p_id %}
              <a href="{% url 'cart' idz=i.p_id typer='add' %}" class="btn btn-primary">Added to Cart</a>
            {% endif %}
          {% endfor %}
      {% else %}
      <h2>fjkdjf</h2>
        <a href="{% url 'update_cart' idz=i.p_id typer='add' %}" class="btn btn-primary">Add to Cart</a>
        <a href="{% url 'update_wishlist' idz=i.p_id typer='add'%}" class="btn btn-primary">Add to Wishlist</a>
			{% endif %}
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
        </div><div class = "row">
    {% endif %}
{% endfor %}
{% endif %}
        </div>
    </div>
{% endblock %}
